body {
  font-family: "Roboto-Light", sans-serif;
  font-weight: 300;
  color: black;
  background-color: #f8f9fa !important;
}

a {
  color: white;
}

h1, h2, h4 {
  font-weight: 300;
  line-height: 1.5;
  padding: 8px;
  letter-spacing: 1.5px;
  overflow: visible;
}

#club-logo {
  padding: 8px;
  margin: 12px;
}

#navbar-header {
  position: sticky;
  position: -webkit-sticky;
}

.center-content {
  top: 50%;
  align-items: center;
  justify-content: center;
}

.text-card {
  padding: 1em;
  margin-top: 4em;
  margin-bottom: 4em;
  line-height: 1.5;
}
.text-card ul {
  line-height: 2;
}

.text-card-right {
  margin-left: 4em;
}

.text-card-right {
  margin-right: 4em;
}

.container {
  margin-top: 4em;
  margin-bottom: 4em;
}

.content-row {
  color: black;
  padding: 12px;
  border-radius: 4px;
  border: solid 1px black;
  background-color: #D2003B;
  box-shadow: 9px 9px black, 10px 10px 0px 2px #D2003B;
}
.content-row .content-card {
  border-radius: 4px;
}
.content-row .content-card:hover {
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 0.5px black;
  color: white;
}
.content-row img {
  border-radius: 4px;
  margin: 8px 0px 16px 0px;
}

.image-card-left {
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 100%;
  background-color: #D2003B;
}

.image-overlay-left {
  width: 100%;
  height: 100%;
  margin-top: 25%;
  margin-left: 10%;
}

.image-card-right {
  margin-left: 50%;
  position: absolute;
  z-index: -1;
  width: 50%;
  height: 100%;
  background-color: #D2003B;
}

.image-overlay-right {
  width: 100%;
  height: 100%;
  margin-top: 20%;
  margin-right: 20%;
}

.button {
  padding: 12px;
  background-color: black;
  color: white;
  border: solid 3px #D2003B;
  text-align: center;
}

.button:hover {
  cursor: pointer;
  color: #D2003B;
  border: solid 3px white;
}

.social-media {
  padding: 4px;
}

.social {
  padding: 4px;
  margin: 5%;
}
.social .icon {
  color: black;
}
.social .icon:hover {
  color: #D2003B;
}

/* GLOBAL STYLES
body, html {
    height: 100%;
  }
  .bg { 
    background-image: url("../images/photo1.jpg");
    opacity: .8;
    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
body:before {
    content: '';
    background-image: url('/images/photo1.jpg');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    opacity: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    }

    body:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    left: 0;
    }
body{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #1c1c1c;
}


.nav-link{
    color: #e9ebee;
}
.nav-link:hover{
    color: #c50042;
}

#social_media{
    color: #e9ebee;
    padding-top: 1em;
}

.sm_icon{
    height: 3em;
    color: #e9ebee;
    margin: 0px .8em;
}
.sm_icon:hover{
    color: #c50042;
}
.svg-inline--fa.fa-w-14{
    width: 2em;
}

.scrolls{
    padding-top: 3.5rem;
}

.nav_color{
    background-color: #1c1c1c;
}

#overlay {
    position: absolute; 
    /*display: none; 
    width: 100%; 
    height: 100%;
    top: 0; 
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(117, 110, 110, 0.75);
    z-index: -1; 
/*    cursor: pointer; 
  }
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }


  #logo{
    background-color: rgba(233,235,238, 0.5);
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: auto;
    font-family: 'Roboto-Light', sans-serif;
    font-weight: 100;
    font-size: 100px;
    color: #000000;
    }

    #h1 span.border{
        background-color: black;
    }
    */

/*# sourceMappingURL=main.css.map */
