html {
    height: 100%;
    display: flex;
}

body {
    position: relative;
    margin: auto;
    background: #e9ebee;
    color: #161411
}

header{
    margin-bottom: 60px;
}
.nav-link{
    color: #161411;
}
.nav-link:hover{
    color: #c50042;
}

#social_media{
    color: #161411;
    padding-top: 2em;
}

.sm_icon{
    height: 4em;
    color: #161411;
    margin: 0px .8em;
}
.sm_icon:hover{
    color: #c50042;
}
.svg-inline--fa.fa-w-14{
    width: 2em;
}
